html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  height: 250px;
}

.robot {
  width: 320px;
  position: relative;
  height: 250px;
  left: 50%;
  transform: translateX(-50%)
}

.robot-body {
  width: 320px;
  position: absolute;
  bottom: 0;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 50%;
  bottom: 43%;
  transform: translateX(-50%);
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-left {
  position: absolute;
  left: 11%;
  bottom: 21%;
}

.robot-head-right {
  position: absolute;
  right: 11%;
  bottom: 21%;
}
